<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Sistema de Cadastro de Reparos</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/geral.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <!--cabeçalho-->
        <div id="topo">
            <header id="header">
                <hgroup>
                    <h1><a href="index.html">SCR</a></h1>
                        <h2>Sistema de Cadastro de Reparos</h2>
                </hgroup>
                <div id="header-contato">
                    <ul>
                        <li><i class="material-icons">save</i> Cadastro </li>
                        <li><i class="material-icons">build</i> Reparos </li>
                    </ul>
                </div>
            </header>
        </div>
    <!--fim cabeçalho-->

    <!--inicio do menu-->
        <nav id="topnav">
            <ul>
                <li class="active"><a href="index.html"  Title="Página Inicial">Home</a></li>
                <li><a href="cadastro.html" title="Cadastro">Cadastro</a> </li>
                <li><a href="consulta.html" title="Consulta">Consulta</a></li>
                <li><a href="sobre.html" title="Sobre">Sobre</a></li>
            </ul>
        </nav>
    <!--fim do menu-->

    <!--conteúdo-->
        <main>
            <div id="linha1">
                <section class="sectionMain">
                    <article class="boxholder rnd8">
                        <h1><i class="material-icons">save</i>Cadastro</h1>
                        <p> Efetue o cadastro do equipamento: Marca, Modelo, Número Serial, Data de Entrada, Data de Saída, Defeito apresentado, Reparo efetuado, peças substituídas.</p>
                        
                    </article>
                    <footer><a href="cadastro.html" class="button small gradient green rnd5">  Ir para Cadastro &raquo;</a></footer>
                </section>
                

                <section class="sectionMain">
                    <article class="boxholder rnd8">
                        <h1><i class="material-icons">build</i>Consultar Reparos</h1>
                        <p>Consulte a lista de reparos efetuados efetuando uma busca no banco de dados.</p>

                    </article>
                    <footer><a href="#" class="button small gradient purple rnd5">  Ir para Consulta &raquo;</a></footer>
                </section>
                

                <section class="sectionMain">
                    <article class="boxholder rnd8">
                        <h1><i class="material-icons">search</i> Buscar esquemas</h1>
                        <p> Aqui você busca os esquemas disponíveis </p>
                        
                    </article>
                    <footer><a href="#" class="button small gradient red rnd5">  Ir para Esquemas &raquo;</a></footer>
                </section>
                
            </div>
        </main>
</body>
</html>